* {
  text-decoration: none;
  font-family: Calibri, sans-serif;
}

table.table {
  font-family: Calibri, sans-serif;
}

#tableDiv {
  border-radius: 10px;
  border-left: 2px solid darkgray;
}

.nav-link:focus {
  border-width: 0;
  outline-width: 0;
}
